
.admincontain{
    margin-top: -15px;
    margin-left:-58px;
    margin-right: -58px;
}
.admindash{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.adminside{
    padding: 10px;
    padding-top:60px ;
    width: 13%;
   background-color: #0d0e11;
   /* background-color: #b02c2c; */
    font-size: 17px;
    position: absolute;
    /* display: none; */
   left: -8px;
     top: 40px;
    bottom: 0px; 
}
.adminbdy{
    width: 100%;
    margin-left: 13%;
    padding: 30px;
    padding-top: 20px;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-bottom: 12px;
    align-items: center;
}
.sidtp{
    color: inherit;
    text-decoration: none;
}
.sidlink{
    height: 35px;
    margin-bottom: 15px;
    /* background-color: rgb(16, 18, 20); */
    border-radius: 8px;
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-left: 10px;
}
.sidlink:hover{
    cursor: pointer;
    box-shadow: 0px 0.3px 1px white;
    /* opacity: 0.6; */
    background-color: rgba(45, 45, 45, 0.414)
}
.adDetRows{
    display: flex;
    /* background-color: aliceblue; */
    width: 90%;
    justify-content: space-between;
    margin-bottom: 35px;
    margin-left: 14%;
    margin-top: 17px;
}
.labeladdr{
    font-size: 25px;
    margin-bottom: 10px;
}
.adminsindiv{
    width: 100%;
    /* background-color: aliceblue; */
}
.ext{
    width: 70%;
}
.mr40{
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* news room... */
.newscon{

    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aliceblue; */
    /* justify-content: center; */
}
.creatAnnoun{
    width: 90%;
    /* margin-right: auto;
    margin-left: auto; */
    /* background-color: #0d0e11; */
}
.nwsrow{
    width: 100%;
    background-color: #171717;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.nwsdiv{
    /* background-color: aliceblue; */
    display: flex;
    /* justify-content: space-between;   */
    align-items: center;
    width: 40%;
}
.nwsinp{
    /* user-select: none; */
    /* margin-top: 4px; */
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    background-color: rgba(142, 150, 189, 0.437);
    color: aliceblue;
    font-size: 15px;
    border: 0.5px solid gray;
    outline: none; 
    border-radius: 5px;
    width: 97%;
    margin-right: 0px;
    margin-left: 15px;
}
.nwsinp:focus{
    outline: 1.5px solid white;
}
.dt{
    user-select:none;
    cursor: pointer;
}
.announcement{
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.announce_contain{
    width: 100%;
    /* height: 100%; */
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    /* background-color: #b02c2c; */
}
.announce{
    height: 50vh;
    /* width: 100%; */
    margin-top: 10px;
    padding-left: 8px;
    background-color: rgba(142, 150, 189, 0.437);
    color: aliceblue;
    font-size: 15px;
    border: 0.5px solid gray;
    border-radius: 3px;
}
.announce:focus{
    outline: 1.5px solid white;
}
.nws_butt{
    background-color: rgba(142, 150, 189, 0.437);
    color: aliceblue;
    font-size: 15px;
    height: 40px;
    margin-top: 20px;
    align-self: center;
    justify-self: center;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 3px;
}
.nws_butt:hover{
    cursor: pointer;
}
.nws_butt:active{
    transform: scale(0.9);
}
.ad_add_frm{
    margin-bottom: 40px;
}


/* cahnge pass keyyyy */


.rel{
    height: 77vh;
    display: grid;
    place-items: center;
    background-color: #171717;
    width: 100%;
    padding: 40px;
}
.chnDiv{
    position: relative;
    height: 100%;
    width: 80%;
    border: 1px solid white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

      background: rgba(13, 18, 35, 0.168);
      border-radius: 10px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);

}
.abs{
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.5;
    z-index: -1;
}
.clr_all{
    width: 20%;
    height: 40px;
    border: none;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: rgba(139, 145, 181, 0.605);
    align-self: flex-end;
   font-size: 15px;
}
.flx_con{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
@media screen and (max-width:708px) {
    .nwsrow{
        flex-direction: column;
    }
    .nwsdiv{
        width: 100%;
        margin-top: 20px;
    }
}
.admin_logs_con,.event_req_con{
    width: 100%;
   min-height: 87vh;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.adtr:nth-child(odd){
    background-color: #1514152f;
    /* width: 20%; */
}

.adtd{
    width: 17%;
}

.butt_flex{
    height: 50px;
    /* background-color: aliceblue; */
    padding: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.adtr{
    height: 50px;
}

.ad_butt{
    align-self: center;
    justify-self: center;
    width: 40%;
}

.approve{
    background-color: rgba(2, 79, 25, 0.628);
}

.reject{
    background-color: rgba(96, 2, 2, 0.628);   
}

.approve:hover{
    background-color: rgba(2, 79, 25, 0.372);
}

.reject:hover{
    background-color: rgba(96, 2, 2, 0.357);
}

.adtr:nth-child(even){
    background-color: #191c2886;
}